parametersSchema:
    docCodeAnalyzer: structure([
        outputDir: string()
        paths: listOf(string())
        prependOpenTagWhenMissing: bool()
        setStrictTypesWhenOpenTagMissing: bool()
    ])
