services:
    -
        class: PrinsFrank\PHPStanDocCodeAnalyzer\Configuration\Configuration
        arguments:
            outputDir: %docCodeAnalyzer.outputDir%
            prependOpenTagWhenMissing: %docCodeAnalyzer.prependOpenTagWhenMissing%
            setStrictTypesWhenOpenTagMissing: %docCodeAnalyzer.setStrictTypesWhenOpenTagMissing%
            globPatterns: %docCodeAnalyzer.paths%

    -
        class: PrinsFrank\PHPStanDocCodeAnalyzer\DocCodeExtractor

    -
        class: PrinsFrank\PHPStanDocCodeAnalyzer\FileSystem\FileHandler
